@import "tailwindcss";

/* Cores */
:root {
  --color-bg: #ffffff;
  --color-text: #000000;
}

html.dark {
  --color-bg: #0e0e0e;
  --color-text: #f9f9f9;
}

/* Fontes */
:root {
  --font-sans: 'Outfit', sans-serif;
  --font-display: 'Ovo', serif;
}

/* Aplicação global */
@layer base {
  * {
    @apply antialiased;
    font-family: var(--font-sans);
  }

  body {
    background-color: var(--color-bg);
    color: var(--color-text);
  }
}

@layer utilities {
  .bg-theme {
    background-color: var(--color-bg);
  }
  .text-theme {
    color: var(--color-text);
  }
}
